<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="watchManager" type="Task4.Configuration.WatchManagerConfig, Task4"/>
    </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>

    <appSettings>
        <add key="Culture" value="ru-RU" />
    </appSettings>

    <watchManager copy="Index">
        <watchers>
            <add path="D:\Test1_Watch"/>
            <add path="D:\Test2_Watch"/>
        </watchers>
        <rules defaultDest="D:\Test1_Dest">
            <add filter=".*[.]txt" dest="D:\Test2_Dest"/>
        </rules>
    </watchManager>
</configuration>
